#title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: Consolas;
}

.crossword-board {
  margin: auto;
  margin-top: 30px;
  width: 450px;
  height: 450px;
  background-color: white;
  border: 1px solid black;
}

.crossword-board .row {
  width: 100%;
  height: 30px;
  position: relative;
}

.crossword-board .row .block {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 100%;
  -moz-box-shadow:    inset 0 0 0 1px black;
  -webkit-box-shadow: inset 0 0 0 1px black;
  box-shadow:         inset 0 0 0 1px black;
}

.crossword-board .block .letter {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  position: relative;
  display: inline-block;
  font-size: 18px;
  white-space: pre;
  text-align: center;
  
  font-family: Consolas;
}

.crossword-board .block.no-letter {
  background-color: rgb(40,40,40);
}

.crossword-board .block .number {
  top: 0px;
  left: 0px;
  display: inline-block;
  font-size: 10px;
  position: absolute;
  margin-top: -1px;
  margin-left: 2px;
  
  font-family: Consolas;
  font-weight: bold;
}

#allClues {
  width: 1000px;
  height: 400px;
  margin: auto;
  padding-top: 40px;
}

#acrossClues {
  float: left;
  width: 480px;
}

#downClues {
  float: right;
  width: 480px;
}

.clue {
  font-family: Consolas;
  font-size: 18px;
  margin-top: 2px;
}